# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
dustbin/*
config.py
data/*
*.sqlite3
utilities/data/*

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.log


