/* BASE SETUP */
body {
    background-color: blue;
	margin:0px;
	padding:0px;
	background:#ccc;
	font-family: Arial, sans-serif;
}
a,a:link{
	color:#ccc;
	text-decoration:none;
}
a:visited{
	color:#ccc;
}
a:hover{
	color:#888;
}

/* GENERAL HELPER CLASSES */
.inner{
    margin:5px;
}
.shadow {	
    -webkit-box-shadow: 0px 9px 7px 0px rgba(50, 50, 50, 0.59);
	-moz-box-shadow:    0px 9px 7px 0px rgba(50, 50, 50, 0.59);
	box-shadow:         0px 9px 7px 0px rgba(50, 50, 50, 0.59);
}
.fullwidt{
    width:100%;
}
#tooltip{
    display:none;
    position:absolute;
    bottom:0px;
    right:0;
    left:0;
    z-index:1000;
    background:#000;
    color:#999;
    padding:5px;
    height:7em;
}
#tooltip ul{
    margin:0px;
    padding:0px;
    float:left;
}
#tooltip li{
    display:block;
    list-style-type:none;
    padding:0px;
    float:left;
    width:140px;
    overflow:hidden;
    text-align:center;
} 
#tooltip span{
    display:block;
    font-size:140%;
    color:#ccc;
}  
#tooltip #toolinfo{
    float:left;
    width:250px;
    margin-right:10px;
    font-size:130%;
}
label:first-letter,
legend:first-letter{
    text-transform: capitalize
}

/* HEADER */
#header{
	position:absolute;
    top:0px;
    left:0.5em;
    width:600px;
    height:3em;
    z-index:1000;
}
#header h1{
    margin:0px;
    padding:0px;
    padding-top:4px;
}
#header #maintitle a,
#header #maintitle a:link{
    color:#444;
    font-size:0.8em;
    text-decoration:none;
}
#mainmenu{
    display:none;
}

/* MAIN INFORMATION BLOCK */
#information{
    position:absolute;
    top:3em;
    left:0.5em;
    width:400px;
    height:500px;
    background:#fff;
    z-index:1000;
    overflow:hidden;
}
#information .tab{
    position:absolute;
    top:1.5em;
}
#information h2.itab{
    font-size:1.2em;
    color:#ccc;
}
#information h2.itab:hover{
    color:#222;
}
#information .tab h2.itab{width:100px;margin-top:-1em;}
#information .t2 h2.itab{margin-left:100px;}
#information .t3 h2.itab{margin-left:200px;}
#information .t4 h2.itab{margin-left:300px;}

/* MAP */
#map{
   	position:fixed;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	z-index:0;
}
div.leaflet-top,
div.leaflet-left{
	top:1em;
    left:95%;
}

/* GENERAL FORM */
.pure-form-aligned .pure-control-group label{
    width:100px;
}
/* EDIT FORM */
#editform{  
    font-size:80%;
    display:none;
}
#editform h2{
    margin:0px;
    font-size:100%;
}

/* UPLOAD FORM */
#newmarker h2{
    margin:0px;
}
#fileupload{
    display:none
}
#selecttype{    
    width:100%;
    width:100%;
}
.selecttypeb{
    font-weight:bold;
}
#upload-gps{
    width:200px;
    border:0px;
    box-shadow:none;
}
label{
    font-weight:bolder;
}
#upload-save{
    float:right;
    clear:both;
}
.errors{
    display:none;
    border:1px solid #CC0000;
    background-color:#FFCCCC;
    padding:5px;
}
.error{
    color:#CC0000; 
}

/* GRAPH */
.addannotationform{
	position:absolute;
	top:20px;
	right:20px;
	width:400px;
	padding:8px;
	background:#fff;
	border:1px solid #ccc;
	z-index:1000;
	display:none;
}
.addannotationform input, textarea{   
	width:100%;
}
.chart_block{
	position:relative;
}
.annoclose{
	display:block;
	text-align:right;
	float:right;
}
.anoedit{
	float:right;
}
.annodelete{
	display:block;
	text-align:left;
	float:left;
	background-color:;
}

