<!DOCTYPE html>
<html>
   <head>
     <link href="/public/css/style.css" rel="stylesheet">
     <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
     <script type="text/javascript">
       $(document).ready(function() {
        $('#debug').append('<div>Started!</div>');
         $("#generate-string").click(function(e) {
           $.post("/api", {"length": $("input[name='length']").val()})
            .done(function(string) {
               $("#the-string").show();
               $("#the-string input").val(string);
               $('#debug').prepend('<div>POST RESPONSE: '+val(string)+'</div>');  
            });
           e.preventDefault();
         });

         $("#replace-string").click(function(e) {
           $.ajax({
              type: "PUT",
              url: "/api",
              data: {"another_string": $("#the-string").val()}
           })
           .done(function(string) {
                    $('#debug').prepend('<div>PUT RESPONSE: Replaced!</div>');
                
           });
           e.preventDefault();
         });

         $("#delete-string").click(function(e) {
           $.ajax({
              type: "DELETE",
              url: "/api"
           })
           .done(function() {
                $('#debug').prepend('<div>DELETE RESPONSE: </div>'); 
                $("#the-string").hide();
           });
           e.preventDefault();
         });

       });
     </script>
   </head>
   <body>
     <input type="text" value="8" name="length" />
     <button id="generate-string">Give it now!</button>
     <div id="the-string">
         <input type="text" />
         <button id="replace-string">Replace</button>
         <button id="delete-string">Delete it</button>
     </div>
     <div id="debug">

     </div>
   </body>
</html>
