<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citizen Sense Platform</title>
    
    <!-- GENERAL -->
    <link rel="stylesheet" href="/public/css/pure-min.css">

	<!-- GRAPH -->
	<link type="text/css" rel="stylesheet" href="/public/css/jquery-ui.css">
	<link type="text/css" rel="stylesheet" href="/public/css/graph.css">
	<link type="text/css" rel="stylesheet" href="/public/css/detail.css">
	<link type="text/css" rel="stylesheet" href="/public/css/legend.css">
	<!-- <link type="text/css" rel="stylesheet" href="/public/css/extensions.css"> <!--->
 	
 	<!-- MAP -->
	<link rel="stylesheet" href="/public/css/leaflet.css" />

    <!-- GENERAL -->
    <link rel="stylesheet" href="/public/css/ant.css" />

</head>

<body>

<div id="header">
	<h1 id="maintitle"><a href="#" class="pure-menu-heading">Frackbox</a></h1>
	<div id="mainmenu" class="pure-menu pure-menu-open pure-menu-horizontal">
	   	<ul>
	        <li><a id="uploadbutton" href="#">Upload</a></li> 
	        <li><a id="loginbutton" href="#">Sign In</a></li>
	    </ul>
	</div>
</div>

<div id="information" class="shadow">
    <div class="inner">
        <div id="nodelist" class="tab t1">
            <h2>Nodes</h2>
            <div class="content">Node list</div>
        </div>
        <div id="nodedata" class="tab t2">
            <h2>Data</h2>
            <div class="content"></div>
        </div>
        <div id="help" class="tab t3">
            <h2>Help</h2>
            <div class="content">
            help text
            </div>
        </div>
        <div id="debug" class="tab t4">
            <h2>Debug</h2>
            <div class="content">
            </div>
        </div>
            </div>
</div>

<div id="map"></div>
<div id="charts"></div>

<div id="uploadform">
    <form id="newmarker" class="pure-form  pure-form-aligned" action="/api" method="post" enctype="multipart/form-data">
        <h2>Create new marker at:</h2>
        <fieldset>
            <label for="gpstype" class="pure-radio">
                <input type="radio" name="gpstype" value="exact" checked>
                Exact GPS: defaultgps
            </label>
            <label for="gpstype" id="gpstypelabel2" class="pure-radio">
                <input type="radio" name="gpstype" value="fuzzy">
                General location (Click map)
            </label>

            <div class="pure-control-group">
                <label for="upload-title">Type</label>
                <select id="datatype" name="datatype">
                    <option value="speck"><span>SPECK</option>
                    <option value="observation">OBSERVATION</option> 
                    <option value="frackbox">FRACKBOX</option>
                </select>
            </div>

            <input id="gps" class="fullwidth" type="hidden" name="gps" value="defaultgps" /> 
        </fieldset>

        <fieldset>
            <legend><span id="replacedatatype"></span> information</legend>
            <div class="pure-control-group">
                <label for="title" id="titlelable">Title</label>
                <input id="title" class="fullwidth" type="text" name="title" value="" placeholder="Descriptive title"/>  
            </div>

            <div class="pure-control-group">
                <label for="deviceid" id="deviceidlabel"></label>
                <input id="deviceid" class="fullwidth" type="text" name="deviceid" value="" />  
            </div>

            <div class="pure-control-group">
                <label for="apikey" id="apikeylabel"></label>
                <input id="apikey" class="fullwidth" type="text" name="apikey" value="" />  
            </div>
            
            <div class="pure-control-group" id=fileupload>
                <label for="file">File upload</label>
                <input id="file" type="file" name="file" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Login</legend>
            <div class="pure-control-group">
                <label for="username" id="usernamelabel">Username</label>
                <input id="username" class="fullwidth" type="text" name="username" value="" />  
            </div>

            <div class="pure-control-group">
                <label for="password" id="passwordlabel">Password</label>
                <input id="password" class="fullwidth" type="text" name="password" value="" />  
            </div>

            <button id="upload-save" class="pure-button pure-button-primary">Save</button>
        </fieldset>
        <div class="errors"> </div>
    </form>
</div>

<div id="loginform" class="centeredform"> 
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>A Stacked Form</legend>
            <div class="pad">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Email">

                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password">

                <label for="state">State</label>
                <select id="state">
                    <option>AL</option>
                    <option>CA</option>
                    <option>IL</option>
                </select>

                <label for="remember" class="pure-checkbox">
                    <input id="remember" type="checkbox"> Remember me
                </label>

                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </div>
        </fieldset>
    </form>

</div>

<div id="tooltip"></div>

<script src="/public/js/jquery.min.js"></script>
<script>jQuery.noConflict();</script>
<!--
<script src="/public/js/d3.v3.js"></script>
<script src="/public/js/jquery-ui.min.js"></script>
<script src="/public/js/Rickshaw.js"></script>
<script src="/public/js/Rickshaw.Class.js"></script>
<script src="/public/js/Rickshaw.Compat.ClassList.js"></script>
<script src="/public/js/Rickshaw.Graph.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.Area.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.Line.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.Bar.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.ScatterPlot.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.Stack.js"></script>
<script src="/public/js/Rickshaw.Graph.RangeSlider.js"></script>
<script src="/public/js/Rickshaw.Graph.RangeSlider.Preview.js"></script>
<script src="/public/js/Rickshaw.Graph.HoverDetail.js"></script>
<script src="/public/js/Rickshaw.Graph.Annotate.js"></script>
<script src="/public/js/Rickshaw.Graph.Legend.js"></script>
<script src="/public/js/Rickshaw.Graph.Axis.Time.js"></script>
<script src="/public/js/Rickshaw.Graph.Behavior.Series.Toggle.js"></script>
<script src="/public/js/Rickshaw.Graph.Behavior.Series.Order.js"></script>
<script src="/public/js/Rickshaw.Graph.Behavior.Series.Highlight.js"></script>
<script src="/public/js/Rickshaw.Graph.Smoother.js"></script>
<script src="/public/js/Rickshaw.Fixtures.Time.js"></script>
<script src="/public/js/Rickshaw.Fixtures.Time.Local.js"></script>
<script src="/public/js/Rickshaw.Fixtures.Number.js"></script>
<script src="/public/js/Rickshaw.Fixtures.RandomData.js"></script>
<script src="/public/js/Rickshaw.Fixtures.Color.js"></script>
<script src="/public/js/Rickshaw.Color.Palette.js"></script>
<script src="/public/js/Rickshaw.Graph.Axis.Y.js"></script>
<script src="/public/js/extensions.js"></script>
<script src="/public/js/graph.js"></script>
-->
<script src="/public/js/leaflet.js"></script>

<script>
// MENU FUNCTIONS
jQuery(document).ready(function(){
    
    // INITIALISE & BUILD THE PAGE
    function init(){ 
        // Some global vars
        $ = jQuery;
        debugcount = 0;
        nodes = [];
        // Build the page
        initmenu();
        setmenu('#debug');
        generatemap();
        loadnodes();
        // Create the graphs
        //var mygraph = new Graphkit("chart1", 100);  // id, height, data
        //mygraph.testdata();
    }

    // MAIN MENU CONTROLS
    function initmenu(){
        // Show/Hide tabs
        $(".tab h2").click(function(){
            var id = $(this).parent().attr("id");
            setmenu('#'+id);
        }).hover(function() {
            $(this).css('cursor','pointer');
        });
    }
    function setmenu(id){
        $('.tab .content').hide(); 
        $(id+' .content').show();
        $('.tab h2').css('color','#ccc'); 
        $(id+' h2').css('color','#222'); 
    }
    
    // UI debug output
    function debug(msg){
        $("#debug .content").prepend(debugcount+': '+msg+'<br />'); 
        debugcount ++;
    }

    // LOAD NODES
    function loadnodes(){
        $.ajax({
            url: '/api/viewall',
            type: 'GET',
            dataType: 'json',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                debug('Got \'/api/viewall\' json')
                displaynodes(data);
            },
            error: function(e){
                debug('Failed to load \'/api/viewall\' json'); 
            }
        });
    }
    
    // DISPLAY LIST OF NODES ON THE MAP
    function displaynodes(data){
        var msg = '';
        console.log(data)
        $.each(data, function( index, val ) {
            var fid = data[index]['fid'];
            var lat = data[index]['lat'];
            var lon = data[index]['lon'];
            var title = data[index]['title'];
            var datatype = data[index]['datatype']; 
            var latest = data[index]['latest'];
            var content = '<li><strong>Title:</strong>'+title+'</li>';
            // TODO: Prep json properly on server side
            $.each(latest['keys'], function( i, v ) { 
                var value = latest['values'][i];
                if(v=='timestamp'){
                    
                } 
                content += '<li><strong>'+v+':</strong> <span>'+value+'</span></li>';
            });
            var latest = '<ul>'+content+'</ul>';
            if(fid && lat && lon){
                msg += index+', ';
                var latlng = [lat, lon];
                displaynode(fid, latlng, title, datatype, latest);
            }else{
                msg += 'No lat/lng for'+index+', ';
            }
        });
        debug(msg);
    }
    
    // DISPLAY NODE ON THE MAP
    function displaynode(fid, latlng, title, datatype, latest){
        debug('Display: '+datatype+' T:'+title);
        nodes[fid] = new frackMarker(latlng,{
            icon:eval(datatype+'Marker'),
            clickable: true,
            fid: fid,
            hovertext: title,
            latest: latest
        })
        .on('click', onClick)
        .on('mouseover', onMouseOver)
        .on('mouseout', onMouseOut)
        .addTo(map);
        // Load the data on a click event
        function onClick(e) {
            fid = this.options.fid;
            loadnode(fid);
            setmenu('#nodedata');
        }
        // Load basic info on marker
        function onMouseOver(e){
            infotext = this.options.latest;
            $('#tooltip').html(infotext);
            $('#tooltip').css({
                'display':'inline'
            });
        }
        // Delete the basic info
        function onMouseOut(e){
            $('#tooltip').css({'display':'none'}).fadeOut('slow');   
        }
    }

    // LOAD SINGLE NODE DATA
    // TODO: Create a local cache so we don't keep reloading the same nodes
    function loadnode(fid){
        $('#nodedata .content').html('Loading: '+fid);
        $.ajax({
            url: '/api/view/'+fid,
            type: 'GET',
            async: false,
            cache: false,
            contentType: false,
            dataType:'json',
            processData: false,
            success: function (data) {
                var content = ''
                console.log(data)
                $('#nodedata .content').html('Loaded: '+fid);
                $.each(data, function( index, value ) {
                    content += '<li><b>'+index+'</b>:'+value+'</li>';
                });
                content += '<hr /><a href="/api/edit/'+fid+'" class="pure-button pure-button-primary">edit</a>'
                content += '<a id=\'node'+fid+'\' href="#" class="pure-button pure-button-primary">delete</a>'
                content += '<div id="nodemsg"></div>';
                $('#nodedata .content').html(content);
                $("#node"+fid).click(function(){
                    delete_node(fid);
                }).hover(function() {
                    $(this).css('cursor','pointer');
                });
            },
            error: function(e){
                debug('Bad JSON response: Unable to load JSON');   
            }
        });
    }

    // DELETE NODE
    function delete_node(fid){
        $.ajax({
            url: '/api/deletenode/'+fid,
            type: 'DELETE',
            dataType: 'json',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                debug(data['msg'])
                map.removeLayer(nodes[fid]);
            },
            error: function(e){
                debug('Bad JSON response: Unable to delete node');
            }
        });
    }


    // SUBMIT UPLOAD FORM
    function ajaxsubmission(formid){
            $(formid+' .errors').css('display', 'none'); 
            $(formid).submit(function(event){
            //disable the default form submission
            event.preventDefault();
            //grab all form data  
            var formData = new FormData($(this)[0]);
            $.ajax({
                url: '/api/create',
                type: 'POST',
                data: formData,
                dataType: 'json',
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    // Check if we have errors
                    var msg = ''
                    $.each(data['errors'], function( index, value ) {
                        msg += '<strong>'+index+"</strong>: "+value;
                    });
                    // All is ok, lets add a new marker to the map
                    if(msg.length <=0 ){
                        map.removeLayer(mapclickpopup);
                        var fid = data['info']['fid'];
                        var latlng = [data['info']['lat'], data['info']['lon'] ]; 
                        var datatype = data['info']['datatype'];
                        debug('Created new marker');
                        displaynode(fid, latlng, '', datatype);
                    // Looks like we have some errors so lets feedback
                    }else{
                        msg = 'Failed to create new marker:<br />'+msg;
                        debug(msg);
                        $(formid+' .errors').html(msg);
                        $(formid+' .errors').css('display', 'block');
                    }
                },
                error: function(){
                    debug('JSON Error: Failed to create new marker')
                }
            });
            return false;
        });
    }
    
    // GENERATE THE MAP & MAP CONTROLS
    function generatemap(){ 
        // Setup the base map
        map = L.map('map').setView([51.47700,-0.04755], 13);
        var tilelayer = "http://{s}.tiles.mapbox.com/v3/openplans.map-g4j0dszr/{z}/{x}/{y}.png";
        //var tilelayer = "http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg"; //L.control.scale().addTo(map);
        L.tileLayer(tilelayer, {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18
        }).addTo(map);
        // Define an icon. Images sourced from: http://preloaders.net
        observationMarker = L.icon({
            iconUrl: '/public/images/30.gif',
            shadowUrl: 'public/images/shadow.png',
            iconSize:     [23, 23], // size of the icon
            shadowSize:   [50, 50], // size of the shadow
            iconAnchor:   [10, 10], // point of the icon which will correspond to marker's location
            shadowAnchor: [18, 18], // the same for the shadow
            popupAnchor:  [20, 0]   // point from which the popup should open relative to the iconAnchor
        });
        frackboxMarker = L.icon({
            iconUrl: '/public/images/29.gif',
            shadowUrl: 'public/images/shadow.png',
            iconSize:     [23, 23], // size of the icon
            shadowSize:   [50, 50], // size of the shadow
            iconAnchor:   [10, 10], // point of the icon which will correspond to marker's location
            shadowAnchor: [18, 18],  // the same for the shadow
            popupAnchor:  [20, 0] // point from which the popup should open relative to the iconAnchor
        });
        speckMarker = L.icon({
            iconUrl: '/public/images/27.gif',
            shadowUrl: 'public/images/shadow.png',
            iconSize:     [23, 23], // size of the icon
            shadowSize:   [50, 50], // size of the shadow
            iconAnchor:   [10, 10], // point of the icon which will correspond to marker's location
            shadowAnchor: [18, 18],  // the same for the shadow
            popupAnchor:  [20, 0] // point from which the popup should open relative to the iconAnchor
        });
        frackMarker = L.Marker.extend({
            options: {
                fid: 'fid',
                hovertext: 'title',
                latest: 'latest'
            }
        });
        map.on('click', onMapClick);
    }
    /*  Add a popup. Example usage: addpopup([51.54193, 0.71995], "A message <strong>to</strong> display."); */
    function addpopup(latlng, content) { 
        var thispopup = L.popup();   
        return thispopup.setLatLng(latlng).setContent(content).addTo(map);
    } 
    /* 	Generate an upload form in the popup */   
    function onMapClick(e) {
        var latlng = e.latlng.toString().replace('LatLng(', '').replace(')', '').replace(' ', '');
        // Set the defult text for the form
        settitles('speck');
        // Grab the uploadform html
        var html = jQuery('#uploadform').html();
        // Set GPS coordiantes
        html = html.replace(/defaultgps/g , latlng);
        // Create a popup form
        mapclickpopup = addpopup(e.latlng, html);  
        ajaxsubmission('#newmarker');
        // Set form titles
        $( "#datatype" ).change(function() {
            $( "#datatype option:selected" ).each(function() {
                  settitles( $( this ).val() );
            });
        });
        function settitles(datatype){
            $('#replacedatatype').text(datatype);
            $('#gpstypelabel2').css('display','none')
            switch (datatype) { 
                case 'observation': 
                    // Observation title
                    $('#titlelabel').text('Description');
                    $('#deviceidlabel').text('Observation');
                    $('#apikeylabel').text('Observation');
                    break;
                case 'frackbox': 
                    // Frackbox title
                    $('#titlelabel').text('Title');
                    $('#deviceidlabel').text('Serial');
                    $('#apikeylabel').text('API Key');
                    break;
                case 'speck':
                    // Speck titles
                    $('#titlelabel').text('Title');
                    $('#deviceidlabel').text('Device ID');
                    $('#apikeylabel').text('Device name');
            }
        }
    } 
       
    // BUILD THE PAGE
    init();
    
});

</script>

</body></html>
