<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citizen Sense Platform</title>
    
    <!-- GENERAL -->
    <link rel="stylesheet" href="/public/css/pure-min.css">

	<!-- GRAPH -->
	<link type="text/css" rel="stylesheet" href="/public/css/jquery-ui.css">
	<link type="text/css" rel="stylesheet" href="/public/css/graph.css">
	<link type="text/css" rel="stylesheet" href="/public/css/detail.css">
	<link type="text/css" rel="stylesheet" href="/public/css/legend.css">
	<!-- <link type="text/css" rel="stylesheet" href="/public/css/extensions.css"> <!--->
 	
 	<!-- MAP -->
	<link rel="stylesheet" href="/public/css/leaflet.css" />

    <!-- GENERAL -->
    <link rel="stylesheet" href="/public/css/ant.css" />

</head>

<body>

<div id="header">
	<h1 id="maintitle"><a href="#" class="pure-menu-heading">Frackbox</a></h1>
	<div id="mainmenu" class="pure-menu pure-menu-open pure-menu-horizontal">
	   	<ul>
	        <li><a id="uploadbutton" href="#">Upload</a></li> 
	        <li><a id="loginbutton" href="#">Sign In</a></li>
	    </ul>
	</div>
</div>

<div id="information" class="shadow">
    <div class="inner">
        <div id="nodelist" class="tab t1">
            <h2>Nodes</h2>
            <div class="content">Node list</div>
        </div>
        <div id="nodedata" class="tab t2">
            <h2>Data</h2>
            <div class="content"></div>
        </div>
        <div id="help" class="tab t3">
            <h2>Help</h2>
            <div class="content">
            help text
            </div>
        </div>
        <div id="debug" class="tab t4">
            <h2>Debug</h2>
            <div class="content">
            </div>
        </div>
            </div>
</div>

<div id="map"></div>
<div id="charts"></div>

<div id="uploadform" class="centeredform">
    <form id="uploadformform" class="pure-form pure-form-stacked" action="/api" method="post" enctype="multipart/form-data">
        <h2>Create new marker:</h2>
        <fieldset>
            <label for="upload-title">Select type</label>
            <select id="selecttype">
                <option value="frackbox">FRACKBOX [defaultgps]</option>
                <option value="speck"><span>SPECK [defaultgps]</option>
                <!--<option value="observation">Observation at this location</option>-->
            </select>
            <input id="upload-gps" class="fullwidth" type="hidden" name="gps" value="defaultgps" /> 
            
            <label for="upload-title">Title</label>
            <input id="upload-title" class="fullwidth" type="text" name="title" value="" />  
            
            <label for="upload-speckid">Device ID</label>
            <input id="upload-deviceid" class="fullwidth" type="text" name="speck-id" value="" />  
            
            <label for="upload-uid">API key (If known)</label>
            <input id="upload-uid" class="fullwidth" type="text" name="title" value="" />  
            
            <label for="file">Upload file (if required)</label>
            <input id="file" type="file" name="myFile" />
            <button id="upload-save" class="pure-button pure-button-primary">Save</button>
        </fieldset>
    </form>
</div>

<div id="loginform" class="centeredform"> 
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <legend>A Stacked Form</legend>
            <div class="pad">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Email">

                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password">

                <label for="state">State</label>
                <select id="state">
                    <option>AL</option>
                    <option>CA</option>
                    <option>IL</option>
                </select>

                <label for="remember" class="pure-checkbox">
                    <input id="remember" type="checkbox"> Remember me
                </label>

                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </div>
        </fieldset>
    </form>

</div>

<script src="/public/js/d3.v3.js"></script>
<script src="/public/js/jquery.min.js"></script>
<script>jQuery.noConflict();</script>
<script src="/public/js/jquery-ui.min.js"></script>
<script src="/public/js/Rickshaw.js"></script>
<script src="/public/js/Rickshaw.Class.js"></script>
<script src="/public/js/Rickshaw.Compat.ClassList.js"></script>
<script src="/public/js/Rickshaw.Graph.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.Area.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.Line.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.Bar.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.ScatterPlot.js"></script>
<script src="/public/js/Rickshaw.Graph.Renderer.Stack.js"></script>
<script src="/public/js/Rickshaw.Graph.RangeSlider.js"></script>
<script src="/public/js/Rickshaw.Graph.RangeSlider.Preview.js"></script>
<script src="/public/js/Rickshaw.Graph.HoverDetail.js"></script>
<script src="/public/js/Rickshaw.Graph.Annotate.js"></script>
<script src="/public/js/Rickshaw.Graph.Legend.js"></script>
<script src="/public/js/Rickshaw.Graph.Axis.Time.js"></script>
<script src="/public/js/Rickshaw.Graph.Behavior.Series.Toggle.js"></script>
<script src="/public/js/Rickshaw.Graph.Behavior.Series.Order.js"></script>
<script src="/public/js/Rickshaw.Graph.Behavior.Series.Highlight.js"></script>
<script src="/public/js/Rickshaw.Graph.Smoother.js"></script>
<script src="/public/js/Rickshaw.Fixtures.Time.js"></script>
<script src="/public/js/Rickshaw.Fixtures.Time.Local.js"></script>
<script src="/public/js/Rickshaw.Fixtures.Number.js"></script>
<script src="/public/js/Rickshaw.Fixtures.RandomData.js"></script>
<script src="/public/js/Rickshaw.Fixtures.Color.js"></script>
<script src="/public/js/Rickshaw.Color.Palette.js"></script>
<script src="/public/js/Rickshaw.Graph.Axis.Y.js"></script>
<script src="/public/js/extensions.js"></script>
<script src="/public/js/graph.js"></script>
<script src="/public/js/leaflet.js"></script>

<script>
// MENU FUNCTIONS
jQuery(document).ready(function(){
    
    // INITIALISE & BUILD THE PAGE
    function init(){ 
        // Some global vars
        $ = jQuery;
        debugcount = 0;
        nodes = [];
        // Build the page
        initmenu();
        setmenu('#debug');
        generatemap();
        loadnodes();
        submitmyform('#uploadformform');
        // Create the graphs
        //var mygraph = new Graphkit("chart1", 100);  // id, height, data
        //mygraph.testdata();
    }

    // MAIN MENU CONTROLS
    function initmenu(){
        // Show/Hide tabs
        $(".tab h2").click(function(){
            var id = $(this).parent().attr("id");
            setmenu('#'+id);
        }).hover(function() {
            $(this).css('cursor','pointer');
        });
    }
    function setmenu(id){
        $('.tab .content').hide(); 
        $(id+' .content').show();
        $('.tab h2').css('color','#ccc'); 
        $(id+' h2').css('color','#222'); 
    }
    
    // UI debug output
    function debug(msg){
        $("#debug .content").prepend(debugcount+': '+msg+'<br />'); 
        debugcount ++;
    }

    // LOAD NODES
    function loadnodes(){
        $.ajax({
            url: '/api/viewall',
            type: 'GET',
            dataType: 'json',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                debug('Got \'/api/viewall\' json')
                displaynodes(data);
            },
            error: function(e){
                debug('Failed to load \'/api/viewall\' json'); 
            }
        });
    }
    
    // DISPLAY LIST OF NODES ON THE MAP
    function displaynodes(data){
        var msg = '';
        $.each(data, function( index, val ) {
            if(0 in val && 1 in val){
                msg += index+', ';
                var latlng = [val[0], val[1]];
                var marker = new frackMarker(latlng,{
                    icon:frackBox,
                    clickable: true,
                    data: index
                }).on('click', onClick).addTo(map);
            }else{
                msg += 'No lat/lng for'+index+', ';
            }
            function onClick(e) {
                fid = this.options.data;
                loadnode(fid);
                setmenu('#nodedata')
            } 
        });
        debug(msg);
    }
    
    // LOAD SINGLE NODE DATA
    // TODO: Create a local cache so we don't keep reloading the same nodes
    function loadnode(fid){
        $('#nodedata .content').html('Loading: '+fid);
        $.ajax({
            url: '/api/view/'+fid,
            type: 'GET',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (str) {
                var data = JSON.parse(str);
                var content = ''
                $('#nodedata .content').html('Loaded: '+fid);
                $.each(data['info'], function( index, value ) {
                    content += '<li><b>'+index+'</b>:'+value+'</li>';
                });
                content += '<hr /><a href="/api/edit/'+fid+'" class="pure-button pure-button-primary">edit</a>'
                content += '<a id=\'node'+fid+'\' href="#" class="pure-button pure-button-primary">delete</a>'
                content += '<div id="nodemsg"></div>';
                $('#nodedata .content').html(content);
                $("#node"+fid).click(function(){
                    delete_node(fid);
                }).hover(function() {
                    $(this).css('cursor','pointer');
                });
            }
        });
    }

    // DELETE NODE
    function delete_node(fid){
        $.ajax({
            url: '/api/deletenode/'+fid,
            type: 'DELETE',
            dataType: 'json',
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                debug(data['msg'])
            },
            error: function(e){
                debug('Unable to delete node');
            }
        });
    }


    // SUBMIT UPLOAD FORM
    function submitmyform(formid){
        $(formid).submit(function(event){
            //disable the default form submission
            event.preventDefault();
            //grab all form data  
            var formData = new FormData($(this)[0]);
            $.ajax({
                url: '/api/create',
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#messagebox").prepend('<div class="msg">'+data+'</div>');  
                }
            });
            return false;
        });
    }
    
    // GENERATE THE MAP & MAP CONTROLS
    function generatemap(){ 
        // Setup the base map
        map = L.map('map').setView([51.505, -0.09], 13);
        var tilelayer = "http://{s}.tiles.mapbox.com/v3/openplans.map-g4j0dszr/{z}/{x}/{y}.png";
        //var tilelayer = "http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg"; //L.control.scale().addTo(map);
        L.tileLayer(tilelayer, {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18
        }).addTo(map);
        // Define an icon. Images sourced from: http://preloaders.net
        frackBox = L.icon({
            iconUrl: '/public/images/29.gif',
            shadowUrl: 'public/images/shadow.png',
            iconSize:     [23, 23], // size of the icon
            shadowSize:   [50, 50], // size of the shadow
            iconAnchor:   [-8, -8], // point of the icon which will correspond to marker's location
            shadowAnchor: [0, 0],  // the same for the shadow
            popupAnchor:  [20, 0] // point from which the popup should open relative to the iconAnchor
        });
        frackMarker = L.Marker.extend({
            options: {
                data: 'data'
            }
        });
        map.on('click', onMapClick);
    }
    /*  Add a popup. Example usage: addpopup([51.54193, 0.71995], "A message <strong>to</strong> display."); */
    function addpopup(latlng, content) { 
        thispopup = L.popup();   
        return thispopup.setLatLng(latlng).setContent(content).addTo(map);
    } 
    /* 	Generate an upload form */   
    function onMapClick(e) { 
        var latlng = e.latlng.toString().replace('LatLng(', '').replace(')', '').replace(' ', '');
        var html = jQuery('#uploadform').html();
        html = html.replace(/defaultgps/g , latlng);
        return addpopup(e.latlng, html);     
    }  
       
    // BUILD THE PAGE
    init();
    
});

</script>

</body></html>
